body {
  background-color: #ece9e1;
  color: #3d3d3d;
  font-family: Arial;
  margin: 10% 20%;  
}

.exp-header {
  text-transform: uppercase;
  border-bottom: 1px solid #3d3d3d
}

.head {
  text-align: center;
}
